<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Todo</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">ToDo List</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="today"><a href="/">Today</a></li>
          <li id="professional"><a href="/professional">Professional</a></li>
          <li id="daily"><a href="/daily">Daily</a></li>
          <li id="extra"><a href="/extra">Extra</a></li>
          <li id="done"><a href="/done">DoneTasks</a></li>
        </ul>
      </div>
    </nav>

    <body>
      <div class="container"></div>
    </body>
  </head>
</html>
